@use '../base/variables'

.container-form
  width: 100%
  height: 100%
  background-color: variables.$primary-color
  display: flex
  align-items: center
  justify-content: center

  .form-login
    width: 300px
    padding: 40px 0
    margin: 0 auto
    border: 2px solid variables.$secondary-color
    border-radius: 15px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: variables.$primary-color

    h2
      color: variables.$secondary-color
      font-family: variables.$secondary-font

    .inputs
      display: flex
      flex-direction: column
      margin: 15px 0
      width: 200px

      label
        margin: 5px 0
        color: variables.$secondary-color

      input
        border: 1px solid variables.$secondary-color
        border-radius: 5px
        padding: 5px

    .buttons
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

      input
        border: 1px solid variables.$secondary-color
        border-radius: 5px
        background: transparent
        color: variables.$secondary-color
        font-size: variables.$xsmall-font
        padding: 5px 30px
        transition: .5s

        &:hover
          cursor: pointer
          color: variables.$light-color
          border: 1px solid variables.$light-color

      p
        color: variables.$secondary-color
        font-size: variables.$xsmall-font
        font-style: italic

      .otherAction
        display: flex
        flex-direction: row

        p
          font-style: normal

        a
          color: variables.$secondary-color
          font-size: variables.$xsmall-font
          margin-left: 5px
          font-style: italic

          &:hover
            text-decoration: underline
            cursor: pointer




