{{> header}}

<div class='container'>
  <div class='default-pages'>
    <h2>Páginas Padrão 1</h2>
    <div class='pages'>
      <div>
        <span>News Page</span>
        <label>
          <input type='radio' name='default-pages' id='default1' />
        </label>
      </div>
      <div>
        <span>E-Commerce Page</span>
        <label>
          <input type='radio' name='default-pages' id='default2' />
        </label>
      </div>
      <div>
        <span>Mock Page</span>
        <label>
          <input type='radio' name='default-pages' id='default3' />
        </label>
      </div>
    </div>
  </div>
  <div class='default-pages'>
    <h2>Páginas Padrão 2</h2>
    <div class='pages'>
      <div>
        <span>Blog Page</span>
        <label>
          <input type='radio' name='default-pages' id='default4' />
        </label>
      </div>
      <div>
        <span>Recipes Page</span>
        <label>
          <input type='radio' name='default-pages' id='default5' />
        </label>
      </div>
      <div>
        <span>Gallery Page</span>
        <label>
          <input type='radio' name='default-pages' id='default6' />
        </label>
      </div>
    </div>
  </div>
  <div class='default-pages'>
    <h2>Guias</h2>
    <div class='pages'>
      <div>
        <span>Guia Html</span>
        <label>
          <input type='radio' name='default-pages' id='default7' />
        </label>
      </div>
      <div>
        <span>Guia CSS</span>
        <label>
          <input type='radio' name='default-pages' id='default8' />
        </label>
      </div>
      <div>
        <span>Guia Node</span>
        <label>
          <input type='radio' name='default-pages' id='default9' />
        </label>
      </div>
    </div>
  </div>
  <button id='apply'>Aplicar</button>
</div>

{{> footer}}
