<div class='container'>
  <div class='default-pages'>
    <h2>Páginas Padrão</h2>
    <div class='pages'>
      <div>
        <span>E-Commerce Page</span>
        <label>
          <input type='radio' name='default-pages' id='default1' />
        </label>
      </div>
      <div>
        <span>News Page</span>
        <label>
          <input type='radio' name='default-pages' id='default2' />
        </label>
      </div>
      <div>
        <span>Mock Page</span>
        <label>
          <input type='radio' name='default-pages' id='default3' />
        </label>
      </div>
    </div>
    <button id='apply-default'>Aplicar</button>
  </div>
  <div class='create-new-page'>

  </div>
</div>
