{{> header}}

<form class='container' method="POST" action="/apply-page">
  <div class='default-pages'>
    <h2>Páginas Padrão 1</h2>
    <div class='pages'>
      <div>
        <span>News Page</span>
        <label>
          <input type='radio' name='defaultPage' value='1' />
        </label>
      </div>
      <div>
        <span>E-Commerce Page</span>
        <label>
          <input type='radio' name='defaultPage' value='2' />
        </label>
      </div>
      <div>
        <span>Mock Page</span>
        <label>
          <input type='radio' name='defaultPage' value='3' />
        </label>
      </div>
    </div>
  </div>
  <div class='default-pages'>
    <h2>Páginas Padrão 2</h2>
    <div class='pages'>
      <div>
        <span>Blog Page</span>
        <label>
          <input type='radio' name='defaultPage' value='4' />
        </label>
      </div>
      <div>
        <span>Recipes Page</span>
        <label>
          <input type='radio' name='defaultPage' value='5' />
        </label>
      </div>
      <div>
        <span>Gallery Page</span>
        <label>
          <input type='radio' name='defaultPage' value='6' />
        </label>
      </div>
    </div>
  </div>
  <div class='default-pages'>
    <h2>Guias</h2>
    <div class='pages'>
      <div>
        <span>Guia Html</span>
        <label>
          <input type='radio' name='defaultPage' value='7' />
        </label>
      </div>
      <div>
        <span>Guia CSS</span>
        <label>
          <input type='radio' name='defaultPage' value='8' />
        </label>
      </div>
      <div>
        <span>Guia Node</span>
        <label>
          <input type='radio' name='defaultPage' value='9' />
        </label>
      </div>
    </div>
  </div>
  <input type="submit" id='apply' value="Aplicar">
</form>

{{> footer}}
