<div class='absolute'>
  <div class='container-login'>
    <h2>Login</h2>
    <div class='inputs'>
      <label for='input-email'>Email:</label>
      <input type='email' name='input-email' />
      <label for='input-password'>Senha:</label>
      <input type='password' name='input-password' />
    </div>
    <div class='buttons'>
      <a href=''>Fazer Login</a>
      <p>ou</p>
      <a href=''>Registrar</a>
    </div>
  </div>
</div>
