<div class='container-form'>
  <form id='form-signIn' class="form-login" action='/register' method='POST'>
    <h2>LP Generator</h2>
    <div class='inputs'>
      <label for='user'>Usuário:</label>
      <input type='text' name='user' placeholder='Digite seu usuário'/>
      <label for='password'>Senha:</label>
      <input type='password' name='password'  placeholder='Digite sua senha'/>
    </div>
    <div class='buttons'>
      <input type='submit' value='Registrar'>
      <p>ou</p>
      <div class='otherAction'>
        <p>Já possui uma conta?</p>
        <a href='/login'>Fazer Login</a>
      </div>
    </div>
  <form/>
</div>
