<footer>
  <a href='https://www.linkedin.com/in/matheus-andrade23/'><img
      src='svg/linkedin.svg'
      alt='linkedin-icon'
    /></a>
  <a href='https://github.com/MatheusAndrade23'><img
      src='svg/github.svg'
      alt='github-icon'
    /></a>
</footer>
