<header>
  <a href=''>Landing Pages Generator</a>
  <nav>
    <a href='' class='nav-link'>Landing Page</a>
    <a
      href='https://github.com/MatheusAndrade23/Landing_Pages_Generator'
      class='nav-link'
    >GitHub</a>
    <a href='/login' class='nav-button'>Sair</a>
  </nav>
</header>
