<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Landing Pages Generator</title>

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'
      rel='stylesheet'
    />
    <link type='text/css' rel='stylesheet' href='/css/style.css' />

  </head>
  <body>
    <header>
      <a href=''>Landing Pages Generator</a>
      <nav>
        <a href='' class='nav-link'>Landing Page</a>
        <a
          href='https://github.com/MatheusAndrade23/Landing_Pages_Generator'
          class='nav-link'
        >GitHub</a>
        <a href='/login' class='nav-button'>Sair</a>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <a href='https://www.linkedin.com/in/matheus-andrade23/'><img
          src='svg/linkedin.svg'
          alt='linkedin-icon'
        /></a>
      <a href='https://github.com/MatheusAndrade23'><img
          src='svg/github.svg'
          alt='github-icon'
        /></a>
    </footer>
  </body>
</html>
